
<html>
<head>
    <title>Sportswear Shop</title>
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

</head>
<body>
<main>
    <div class="container">
        <ul class="list-group" >
            <li th:each="p : ${productsList}" class="list-group-item list-group-item-default">
            	<a th:href="@{'/product/' + ${p.id}}" th:text="${'ID: ' + p.id + '   Name: ' + p.name}"></a>
            </li>
        </ul>
    </div>
</main>

</body>
</html>